@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #eee4b3;
  font-family: "Josefin Sans", sans-serif; }

section {
  padding: 20px 0 20px 0; }

.redondeado {
  border-radius: 20px; }

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "protocol img2x2 img2x2 novProm" "pagaCon img2x2 img2x2 notaDscto";
  grid-gap: 10px; }
  .gridContainer__protocol {
    grid-area: protocol;
    background-color: #bdb76b;
    font-size: 1.5rem;
    border-radius: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 0 10px; }
    .gridContainer__protocol ul {
      padding-left: 0; }
  .gridContainer__novProm {
    grid-area: novProm;
    color: #010e0e;
    font-size: 1rem;
    text-align: center; }
  .gridContainer__pagaCon {
    grid-area: pagaCon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  .gridContainer__nota {
    grid-area: notaDscto;
    background-color: #bdb76b;
    border-radius: 20px;
    color: #010e0e;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .gridContainer__nota:hover {
      transform: rotatey(-360deg);
      transition: transform 2s; }

.titulos {
  font-weight: bold;
  text-align: center;
  color: #010e0e; }

/*clase utilizada en catering, cakes y backingPallet*/
.name {
  font-weight: bold; }

/*hoja de inicio-index*/
.muffin {
  list-style: square inside url(../img/muffin.svg); }
  .muffin ul {
    padding-left: 0; }

.slider {
  grid-area: img2x2; }
  .slider .img {
    width: 100%; }
  .slider .h2 {
    display: block; }

/*hoja de carrito de compras*/
.gridCarro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; }

.resumen {
  grid-area: resumen; }
  .resumen .imgResumen {
    height: 100px;
    width: 80px; }

.detalle {
  grid-area: detalle; }

.delete {
  cursor: pointer; }

/*hoja ubicacion*/
.ubicanos {
  display: flex;
  flex-direction: column;
  text-align: center; }

.card {
  border: transparent;
  background-color: transparent; }

.card-body {
  text-align: center; }

#mandarCorreo {
  opacity: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.unidades {
  text-align: center; }

.header {
  width: 100%;
  background-color: #bdb76b; }
  .header__img {
    width: 28px; }
  .header .contacto-icon {
    background-image: url(../img/contacto.svg);
    width: 28px; }
  .header .ubicacion-icon {
    background-image: url(../img/ubicacion.svg);
    width: 28px; }
  .header .carritoDeCompras-icon {
    background-image: url(../img/carritoDeCompras.svg);
    width: 28px; }
  .header__logo:hover {
    transform: scalex(1.2);
    cursor: pointer;
    transition: transform 1s; }
  .header__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 650px);
    grid-gap: 10px;
    padding: 5px; }
  .header .name {
    font-size: big;
    font-weight: bold; }
  .header .menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px; }
  .header .menu_items li {
    margin: 0 5px; }
  .header .menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block; }
  .header .menu_items li.active {
    background-color: #ffc107;
    border-radius: 5px; }

.footer {
  background-color: #bdb76b;
  font-family: "Josefin Sans", sans-serif; }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__contacto {
    padding: 10px;
    font-size: 50px;
    color: #010e0e; }
  .footer__datos {
    padding: 20px 0 20px 0;
    text-align: left; }
    .footer__datos p {
      font-size: 1.5rem;
      padding-bottom: 0;
      margin-bottom: 0; }
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px; }
    .footer__social a img {
      width: 40px;
      height: 40px; }
    .footer__social .whatsapp-icon {
      background-image: url(../img/whatsapp.png);
      margin: 5px;
      grid-area: iconos; }
    .footer__social .instagram-icon {
      background-image: url(../img/instagram.png);
      margin: 5px;
      grid-area: iconos; }
    .footer__social .gmail-icon {
      background-image: url(../img/gmail.png);
      margin: 5px;
      grid-area: iconos; }
    .footer__social .twitter-icon {
      background-image: url(../img/twitter.png);
      margin: 5px;
      grid-area: iconos; }
    .footer__social .facebook-icon {
      background-image: url(../img/facebook.png);
      margin: 5px;
      grid-area: iconos; }
  .footer__copyright {
    text-align: center;
    background-color: #eee4b3;
    font-weight: bolder; }

.body-error {
  background-color: #eee4b3; }

.error {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "container container content"; }
  .error .homero {
    grid-area: container; }
    .error .homero .font-error {
      font-size: 80px;
      color: darkred; }
    .error .homero .img-fluid {
      width: 100%;
      align-content: center;
      border-radius: 5%; }
  .error .content {
    grid-area: content;
    text-align: center;
    padding: 100px 10px; }
    .error .content .content-error {
      font-size: 30px;
      color: darkblue; }
    .error .content .img-logo {
      width: 30vh; }

@media only screen and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img2x2 img2x2 img2x2 img2x2" "novProm novProm protocol protocol" "pagaCon pagaCon notaDscto notaDscto"; }
  .container-mobile {
    padding-top: 10px;
    padding-bottom: 10px; }
  .footer__container {
    display: block;
    text-align: center; }
  .footer__datos {
    font-size: 20px;
    text-align: center; }
    .footer__datos p {
      margin-bottom: 0; }
  .footer__social {
    display: inline-flex;
    padding-bottom: 20px; } }

@media only screen and (max-width: 768px) {
  .body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
    font-size: 18px; }
    .body .main {
      text-align: -webkit-center; }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "novProm" "img2x2" "protocol" "pagaCon" "notaDscto";
    text-align: -webkit-center; }
  .footer__contacto {
    font-size: 40px; }
  .footer__datos {
    padding: 5px 0 5px 0; }
  .footer__social {
    gap: 30px; }
  .error {
    display: block; } }
