//body del index
body{
    background-color: $bg-fondo;
    font-family: $fontMain;
}
section {
    padding: 20px 0 20px 0;
}
.redondeado {
    border-radius: $mi-border-radius;
}

//grid de la seccion inicio
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "protocol img2x2 img2x2 novProm" "pagaCon img2x2 img2x2 notaDscto";
    grid-gap: 10px;
    &__protocol {
        grid-area: protocol;
        background-color: $bg-hf;
        font-size: $textAlmostMedium;
        border-radius: $mi-border-radius;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px 0 10px;
        ul {
            padding-left: 0;
        }
    }
    &__novProm {
        grid-area: novProm;
        color: $bg-titulo;
        font-size: $textSmall;
        text-align: center;
    }
    &__pagaCon {
        grid-area: pagaCon;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    &__nota {
        grid-area: notaDscto;
        background-color: $bg-hf;
        border-radius: $mi-border-radius;
        color: $bg-titulo;
        font-size: $textMedium;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
            transform: rotatey(-360deg);
            transition: transform 2s;
        }
    }
}

.titulos {
    font-weight: bold;
    text-align: center;
    color: $bg-titulo;
}

/*clase utilizada en catering, cakes y backingPallet*/
.name {
    font-weight: bold;
}

/*hoja de inicio-index*/
.muffin {
    list-style: square inside url(../img/muffin.svg);
    ul {
        padding-left: 0;
    }
}

.slider {
    grid-area: img2x2;
    .img {
        width: 100%;
    }
    .h2 {
        display: block;
    }
}


/*hoja de carrito de compras*/

.gridCarro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.resumen {
    grid-area: resumen;
        .imgResumen{
            height: 100px;
            width: 80px;
        }
}
.detalle {
    grid-area: detalle;
}
.delete {
    cursor: pointer;
}

/*hoja ubicacion*/

.ubicanos {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card{
    border: transparent;
    background-color: transparent;
}
.card-body {
    text-align: center;
}

//seccion contactanos
#mandarCorreo{
    opacity: 0;
}

//Desaparece indicadores de aumentar y dismuir en input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.unidades{
    text-align: center;
}