//body del index
.body {
    background-color: $bg-fondo;
    font-family: $fontMain;
    padding: 1%;
}

//grid de la seccion inicio
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "protocol img2x2 img2x2 novProm" "pagaCon img2x2 img2x2 notaDscto";
    grid-gap: 10px;
    &__protocol {
        grid-area: protocol;
        background-color: $bg-hf;
        font-size: $textAlmostMedium;
        border-radius: 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px 0 10px;
        ul {
            padding-left: 0;
        }
    }
    &__novProm {
        grid-area: novProm;
        color: $bg-titulo;
        font-size: $textSmall;
        text-align: center;
    }
    &__pagaCon {
        grid-area: pagaCon;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    &__nota {
        grid-area: notaDscto;
        background-color: $bg-hf;
        border-radius: 10%;
        color: $bg-titulo;
        padding: 20px 5px 0px 10px;
        font-size: $textMedium;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            transform: rotatey(-360deg);
            transition: transform 2s;
        }
        .consumo {
            text-align: center;
        }
    }
}

.titulos {
    font-weight: bold;
    text-align: center;
    color: $bg-titulo;
}


/*clase utilizada en catering, cakes y backingPallet*/

.name {
    font-size: big;
    font-weight: bold;
}

//aplicado a todas las secciones
.seccion {
    align-items: center;
    justify-content: space-between;
}


/*hoja de inicio-index*/

.muffin {
    list-style: square inside url(../imagenes/muffin.svg);
}

.slider {
    grid-area: img2x2;
    .img {
        width: 100%;
    }
    .h2 {
        display: block;
    }
}


/*hoja de carrito de compras*/

.gridCarro {
    grid-area: carrito;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.resumen {
    grid-area: resumen;
}


/*hoja ubicacion*/

.ubicanos {
    display: flex;
    flex-direction: column;
    text-align: center;
}