.header {
    width: 100%;
    background-color: $bg-hf;
    &__img {
        width: 28px;
    }
    @each $svg in contacto,
    ubicacion,
    carritoDeCompras {
        .#{$svg}-icon {
            background-image:url(../img/#{$svg}.svg);
            width: 28px;
        }
    }
    &__logo:hover {
        transform: scalex(1.2);
        cursor: pointer;
        transition: transform 1s;
    }
    &__grid {
        $d: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 650px);
        grid-gap: 10px;
        padding: 5px;
    }
    .name {
        font-size: big;
        font-weight: bold;
    }
    //desde aqui es el codigo del ejemplo
    .menu_items {
        display: flex;
        list-style: none;
        margin-right: 30px;
    }
    .menu_items li {
        margin: 0 5px;
    }
    .menu_items li a {
        padding: 7px 13px;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }
    .menu_items li.active {
        background-color: #ffc107;
        border-radius: 5px;
    }
}