@media only screen and (max-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "img2x2 img2x2 img2x2 img2x2" "novProm novProm protocol protocol" "pagaCon pagaCon notaDscto notaDscto";
    }
}

@media only screen and (max-width: 768px) {
    .body {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: "header" "main" "footer";
        font-size: 18px;
        .main {
            text-align: -webkit-center;
        }
    }
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "novProm" "img2x2" "protocol" "pagaCon" "notaDscto";
        text-align: -webkit-center;
    }
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "contacto" "info1" "iconos" "copyright";
        &__contacto {
            font-size: 46px;
            justify-content: center;
        }
        &__datos {
            text-align: center;
        }
    }
}