@media only screen and (max-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "img2x2 img2x2 img2x2 img2x2" "novProm novProm protocol protocol" "pagaCon pagaCon notaDscto notaDscto";
    }
    .container-mobile {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer {
        &__container {
            display: block;
            text-align: center;
        }
        &__datos {
            font-size: 20px;
            text-align: center;
            p {
                margin-bottom: 0;
            }
        }
        &__social {
            display: inline-flex;
            padding-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .body {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: "header" "main" "footer";
        font-size: 18px;
        .main {
            text-align: -webkit-center;
        }
    }
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "novProm" "img2x2" "protocol" "pagaCon" "notaDscto";
        text-align: -webkit-center;
    }
    .footer {
        &__contacto {
            font-size: 40px;
        }
        &__datos {
            padding: 5px 0 5px 0;
        }
        &__social {
            gap: 30px;
        }
    }
    
}